* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: linear-gradient(to right, #00AAFF, #00ff6C);
    color: rgb(95, 105, 206);
    font: normal 16px Monaco, sans-serif;
    line-height: 1.6em;
}

ul li {
    padding: 3px;
    background: #f0f0f0;
    margin: 3px;
}

header {
    background: linear-gradient(to right, #00AAFF, #00ff6C);
    padding: 1rem;
    text-align: center;
}

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 1rem 1rem;
}

#my-form {
    padding: 2rem;
    background: #f4f4f4;
}

#my-form label {
    display: block;
}

#my-form input[type='number'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    display: block;
    width: 50%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 15px;
    margin: auto;
}

.error {
    background: rgb(255, 83, 73);
    color: #fff;
    padding: 5px;
    margin: 5px;
}